/* ----------- Estilos generales matricula ----------- */

*{
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #fff;
    --text-color: #000;
    --second-color: #ff7431;
    --three-color: #4b4b4b;
    --h1-font: 3.8rem;
    --h2-font: 2.6rem;
	--h3-font: 30px;
    --p-font: 1.1rem;
}

/* ----------- Estilos matricula ----------- */

	body{
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #ff5500ae;
	}
	
	.container{
		position: relative;
		max-width: 900px;
		width: 100%;
		border-radius: 0px;
		padding: 30px;
		margin: 0 15px;
		background-color: #fff;
		box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	}

	.container header{
		position: relative;
		font-size: 20px;
		font-weight: 600;
		color: #333;
	}

	.container header::before{
		content: "";
		position: absolute;
		left: 0;
		bottom: -2px;
		height: 3px;
		width: 27px;
		border-radius: 8px;
		background-color: #ff7431;
	}

	.container form{
		position: relative;
		margin-top: 16px;
		min-height: 755px;
		background-color: #fff;
		overflow: hidden;
	}

	.container form .form{
		position: absolute;
		background-color: #fff;
		transition: 0.3s ease;
	}

	.container form .form.second{
		opacity: 0;
		pointer-events: none;
		transform: translateX(100%);
	}

	form.secActive .form.second{
		opacity: 1;
		pointer-events: auto;
		transform: translateX(0);
	}

	form.secActive .form.first{
		opacity: 0;
		pointer-events: none;
		transform: translateX(-100%);
	}

	.container form .title{
		display: block;
		margin-bottom: 8px;
		font-size: 16px;
		font-weight: 500;
		margin: 6px 0;
		color: #333;
	}

	.container form .fields{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	form .fields .input-field{
		display: flex;
		width: calc(100% / 3 - 15px);
		flex-direction: column;
		margin: 4px 0;
	}

	.input-field label{
		font-size: 12px;
		font-weight: 500;
		color: #2e2e2e;
	}

	.input-field input, select{
		outline: none;
		font-size: 14px;
		font-weight: 400;
		color: #333;
		border-radius: 5px;
		border: 1px solid #aaa;
		padding: 0 15px;
		height: 42px;
		margin: 8px 0;
	}

	.input-field input :focus, .input-field select:focus{
		box-shadow: 0 3px 6px rgba(0,0,0,0.13);
	}

	.input-field select, .input-field input[type="date"]{
		color: #707070;
	}

	.input-field input[type="date"]:valid{
		color: #333;
	}

	.container form button, .backBtn{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 40px;
		max-width: 200px;
		width: 100%;
		border: none;
		outline: none;
		color: #fff;
		border-radius: 5px;
		margin: 20px 0;
		background-color: #ff7431;
		transition: all 0.3s linear;
		cursor: pointer;
	}

	.container form .btnText{
		font-size: 14px;
		font-weight: 400;
	}

	form button:hover{
		background-color: #ff5500;
	}
	
	form .buttons{
		display: flex;
		align-items: center;
	}

	form .buttons button , .backBtn{
		margin-right: 14px;
	}

	.ok{
		text-align: center;
		width: 100%;
		padding: 12px;
		color: var(--bg-color);
		font-size: var(--h1-font);
	}

	.mal{
		text-align: center;
		width: 100%;
		padding: 12px;
		color: var(--bg-color);
		font-size: var(--h1-font);
	}

	@media (max-width: 750px) {
		.container form{
			overflow-y: scroll;
		}
		.container form::-webkit-scrollbar{
		display: none;
		}
		form .fields .input-field{
			width: calc(100% / 2 - 15px);
		}
	}

	@media (max-width: 550px) {
		form .fields .input-field{
			width: 100%;
		}
	}

/* ----------- Estilos términos y condiciones ----------- */

	.terminos_condicones{
		height: 100%;
		width: 80%;
		margin: auto;
		background-color: #eeeeeecb;
		padding: 0px 50px 20px 50px;
	}

	.terminos_condicones img{
		width: 30%;
		margin: auto;
		margin-top: 20px;
	}

	.terminos_condicones p{
		margin-top: 50px;
		font-size: var(--p-font);
		text-align: justify;
	}

	.terminos_condicones ul li{
		font-size: var(--p-font);
		text-align: justify;	
	}

	.h1_validar_matricula{
		font-size: var(--h1-font);
		font-weight: 600;
		letter-spacing: 1px;
		margin: auto;
	}

	.h3_validar_matricula{
		font-size: var(--h3-font);
		font-weight: 500;
		margin: auto;
	}

	.h1_novalidar_matricula{
		font-size: var(--h1-font);
		font-weight: 600;
		letter-spacing: 1px;
		margin: auto;
	}